.navbar-brand{
    position: absolute;
    margin-right: auto;
}
.navbar-brand img{
    max-height: 140px;

}
.navbar{
    position: relative;
    height: 120px;
    padding: 0 30px;
}
.navbar-toggler{
    align-items: center;
  float: right;
}
.navbar a{
    text-align: end;
}